# Ignore Rust build artifacts
/target/
Cargo.lock

# Rust compiled artifacts
**/*.rlib
**/*.rmeta
**/*.d
**/*.o
**/*.so
**/*.dylib
**/*.dll
**/*.exe
**/*.exe.stackdump
**/*.a
**/*.lib
**/*.lo
**/*.la
**/*.obj
**/*.pdb

# Profiling outputs
**/*.profraw
**/*.profdata

# Rust/Cargo metadata
**/.fingerprint
**/.rustc_info.json

# Ignore everything in algorithms folder
algorithms/*

# But keep the solution files
!algorithms/*.rs
!algorithms/*.js
!algorithms/*.ts
!algorithms/*.py
!algorithms/*.java
!algorithms/*.cpp
!algorithms/*.c
!algorithms/*.go

# Ignore everything in javascript folder
javascript/*

# But keep the solution files
!javascript/*.js
!javascript/*.ts

# Editor / OS junk
.vscode/
.idea/
*.swp
.DS_Store