[[bin]]
name = "66-plus-one"
path = "algorithms/66-plus-one.rs"

[package]
name = "leetlab"
version = "0.1.0"
edition = "2021"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
lto = true
